.btn {
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 2rem;
    border-radius: 2px;

    & > p {
        margin-bottom: 0;
    }

    a {
        border: none;
        font-size: 1rem;
        color: #fff;
        font-weight: normal;
    }
}

.btn--principal {
    color: #fff;
    background-color: $turquoise;

    &:hover {
        background-color: $turquoise-accent;
    }
}

.btn--secundary {
    background-color: #a5a5a5;

    &:hover {
        background-color: #d0cece;
    }
}

.btn--small {
    padding: .6rem;
}

.btn--invert {
    background-color: #fff;
    border: 2px solid #fff;
    color: #a5a5a5;

    &:hover {
        background-color: rgba(255, 255, 255, .3);
        border: 2px solid #fff;
        color: #fff;
    }
}

.btn-subscribe {
    position: relative;
    margin-left: -53px;
}

.btn-subscribe:after {
    content: "";
    background: center no-repeat url(../img/btn-subscribe.png) $turquoise-accent;
    background-size: contain;
    width: 55px;
    height: 100%;
    display: inline-block;
    position: absolute;
    border-radius: 2px;
    right: -53px;
    top: 0;
}

button, input[type="submit"], .button {
  color: #fff;
  background-color: $turquoise;
  font-size: 1rem;
  color: #fff;
  font-weight: normal;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 2px;

  &:hover {
      background-color: $turquoise-accent;
  }

}

.button:after {
    content: "";
    background: center no-repeat url(../img/btn-subscribe.png) $turquoise-accent;
    background-size: contain;
    width: 55px;
    height: 100%;
    display: inline-block;
    position: absolute;
    border-radius: 2px;
    top: 0;
}
