.user-quote {
  background: url(../img/bigQuote.png) no-repeat;
  background-size: 25%;
  border-bottom: .0625rem solid #a9aaad;
  margin: 0 auto;
  padding: $space-large 0;
  vertical-align: top;
  width: 100%;
  margin-top: $space-out-small;

  @include query(450px) {
    padding: $space-xxx-large $space-out-large $space-out-large;
  }

  @include query(650px) {
    background-size: 20%;
    padding: $space-xxx-large;
  }

  @include query(1000px) {
    width: 70%;   
  }
}

.pane-bundle-certification-testimonials:last-child div {
  border: 0;
}

.user-quote__quote {
  margin-bottom: $space-out-medium;
  font-size: 1.125rem;
}

.user-quote__citation {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}

.user-quote__avatar {
  display: block;
  margin: 0 auto;
  margin-top: $space-out-medium;
  max-width: 90px;
}
