.hidden {
  display: none; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font: 1em/1.5 "Nunito", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #000;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

body {
  background-color: #000;
  width: 100%;
  min-height: 100%;
  margin: 0;
  position: relative; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu {
  display: block; }

figure {
  margin: 1em 40px; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

input,
textarea,
select {
  font: 1em/1.5 "Nunito", sans-serif;
  margin-bottom: 1.5rem;
  border: solid 1px #000; }

label {
  border: none;
  display: block;
  font-weight: bold; }

[type~=checkbox] {
  display: inline;
  margin-bottom: .75rem; }

textarea {
  resize: none; }

h1 {
  font-size: 2.5rem;
  margin: 0.67em 0; }

h2 {
  font-size: 2rem; }

h3,
.h-h3 {
  font-size: 1.5rem; }

h1,
h2,
h3,
h4 {
  color: #000;
  font-family: "Montserrat", sans-serif; }

.h-h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem; }
  .h-h4:before, .h-h4:after {
    content: "\2014\2014";
    color: #a6357f;
    letter-spacing: -3px;
    letter-spacing: -.25rem;
    padding: 0 .8rem 0 .4rem; }

.h-section {
  text-align: center;
  text-transform: uppercase; }

.h-page {
  color: inherit;
  text-align: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  text-transform: uppercase; }

.h-bar:before {
  content: '';
  display: block;
  width: 3rem;
  height: .75rem; }

.h-bar--red:before {
  background: #f05e74; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

q {
  font-style: italic; }

p,
li,
dd,
dt {
  font-size: 1.125rem; }

a {
  background-color: transparent;
  border-bottom: 2px solid #23b1a6;
  color: #000;
  font-weight: 700;
  -webkit-text-decoration-skip: objects;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-decoration: none; }

a:active,
a:hover {
  outline-width: 0; }

a:hover,
a:focus {
  border: 0;
  text-decoration: none; }

.white-link {
  color: #fff;
  -webkit-tap-highlight-color: white; }

th,
td {
  padding: 5px 10px; }

th {
  color: #fff; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
p,
figure,
pre,
table,
fieldset,
hr {
  margin: 0 0 1rem; }

.menu {
  margin: 0;
  padding: 0; }

.btn, .event-btn a {
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 2px; }
  .btn > p, .event-btn a > p {
    margin-bottom: 0; }
  .btn a, .event-btn a a {
    border: none;
    font-size: 1rem;
    color: #fff;
    font-weight: normal; }

.btn--principal {
  background-color: #21a295; }
  .btn--principal:hover {
    background-color: #1e8478; }

.btn--secundary {
  background-color: #a5a5a5; }
  .btn--secundary:hover {
    background-color: #d0cece; }

.btn--small, .event-btn a {
  padding: .6rem; }

.btn--invert, .event-btn a {
  background-color: #fff;
  border: 2px solid #fff;
  color: #a5a5a5; }
  .btn--invert:hover, .event-btn a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #fff;
    color: #fff; }

.btn-subscribe {
  position: relative;
  margin-left: -53px; }

.btn-subscribe:after {
  content: "";
  background: center no-repeat url(../img/btn-subscribe.png) #1e8478;
  background-size: contain;
  width: 55px;
  height: 100%;
  display: inline-block;
  position: absolute;
  border-radius: 2px;
  right: -53px;
  top: 0; }

.user-quote {
  border-bottom: .0625rem solid #a9aaad;
  margin: 0 auto;
  padding: 6.75rem 0 0;
  vertical-align: top;
  width: 100%;
  background: url(../img/bigQuote.png) no-repeat;
  margin-top: 1.125rem; }
  @media only screen and (min-width: 450px) {
    .user-quote {
      padding: 6.75rem 3.375rem 3.375rem; } }
  @media only screen and (min-width: 650px) {
    .user-quote {
      padding: 6.75rem; } }
  @media only screen and (min-width: 1000px) {
    .user-quote {
      width: 70%; } }

.pane-bundle-certification-testimonials:last-child div {
  border: none; }

.user-quote__quote {
  margin-bottom: 2.25rem;
  font-size: 1.125rem; }

.user-quote__citation {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center; }

.user-quote__avatar {
  display: block;
  margin: 0 auto;
  margin-top: 2.25rem;
  max-width: 90px; }

.blog-article p {
  margin-top: 1.5rem;
  padding: 1rem; }
.blog-article img {
  padding: 1rem; }

.article__image-right {
  float: right;
  width: 50%; }

.article__image-left {
  float: left;
  width: 50%; }

.article__main-image {
  width: 100%; }

.row-center {
  text-align: center; }

.blog-links {
  font-size: 1.5rem; }

.blog-services-grid {
  background-position: center;
  background-size: cover;
  border: 1rem solid #f3f2f2;
  display: inline;
  float: left;
  margin-bottom: 0.5em !important;
  width: 100%;
  min-height: 200px;
  padding: 1rem;
  text-align: center; }
  @media only screen and (min-width: 650px) {
    .blog-services-grid {
      width: 48%;
      min-height: 250px; } }
  @media only screen and (min-width: 1200px) {
    .blog-services-grid {
      width: 24%;
      min-height: 300px; } }

.blog-item {
  margin: 40% auto; }

.blog-services-grid--workshops {
  background-image: url(../img/workshops-grid.jpg);
  border-color: #21a295; }

.blog-services-grid--retreats {
  background-image: url(../img/retreats-grid.jpg);
  border-color: #5f9fc0; }

.blog-services-grid--coaching {
  background-image: url(../img/coaching-grid.jpg);
  border-color: #f5978d; }

.blog-services-grid--consultancies {
  background-image: url(../img/consulting-grid.jpg);
  border-color: #bf639f; }

@media only screen and (min-width: 950px) {
  .blog {
    float: left;
    width: 70%; } }

.blog-tag {
  background-color: #474747;
  color: #fff;
  width: 20%;
  padding: 0.33333rem 3.375rem 0.33333rem 0.5rem; }

.blog-subtitle {
  margin: 0; }
  .blog-subtitle a, .blog-subtitle div {
    border: none;
    color: #21a295;
    font-size: 1rem; }

.blog-title {
  font-size: 2rem;
  margin: 0; }

.blog-author {
  font-weight: bold;
  color: #A5A5A5;
  margin-bottom: 0; }

.article-author {
  margin-bottom: 1rem; }

.blog-img {
  width: 100%; }
  @media only screen and (min-width: 650px) {
    .blog-img {
      width: auto;
      float: left;
      margin-right: 2.25rem; } }

.blog-articles {
  margin-bottom: 6.75rem;
  overflow: hidden; }
  .blog-articles a {
    font-weight: 300; }

.blog-articles-content {
  width: 100%; }
  @media only screen and (min-width: 650px) {
    .blog-articles-content {
      width: 65%;
      float: left; } }

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; }
  @media only screen and (min-width: 950px) {
    .categories {
      float: right;
      display: block; } }

.pane-bundle-blog-categories-link {
  width: 100%;
  margin: auto; }
  @media only screen and (min-width: 450px) {
    .pane-bundle-blog-categories-link {
      float: left;
      width: 45%; } }
  @media only screen and (min-width: 650px) {
    .pane-bundle-blog-categories-link {
      width: 30%; } }
  @media only screen and (min-width: 950px) {
    .pane-bundle-blog-categories-link {
      width: 100%;
      float: none; } }

.categories-tag {
  background-color: #F3F2F2;
  margin-bottom: 2.25rem;
  padding: 2.25rem 1.125rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center; }
  .categories-tag .blog-subtitle a {
    font-size: 1.5rem; }

.categories-text {
  font-size: 1.125rem; }

.article-wrapper {
  width: 100%; }
  @media only screen and (min-width: 700px) {
    .article-wrapper {
      width: 65%; } }
  .article-wrapper img {
    margin-bottom: 1.125rem;
    width: 100%;
    height: auto; }
    @media only screen and (min-width: 700px) {
      .article-wrapper img {
        width: auto; } }

.logo {
  border-bottom: 0;
  float: left; }
  .logo img {
    display: block;
    width: 250px; }

.intro-h {
  margin-bottom: 0; }

.intro-leading {
  font-size: 1rem; }

.helper-nav {
  padding: .25em 1rem;
  background: rgba(255, 255, 255, 0.5); }
  .helper-nav:before, .helper-nav:after {
    content: " ";
    display: table; }
  .helper-nav:after, .helper-nav:after {
    clear: both; }

.language-link {
  border-bottom: 0;
  color: #000;
  display: block;
  font-weight: normal;
  padding: 2px 4px;
  text-decoration: none; }

.en, .es {
  display: inline;
  font-size: 1rem;
  float: left; }

.language-switcher-locale-url {
  float: right;
  list-style: none; }

.logo-grid__wrapper .pane-bundle-ally {
  display: inline-block; }
  .logo-grid__wrapper .pane-bundle-ally:before, .logo-grid__wrapper .pane-bundle-ally:after {
    content: " ";
    display: table; }
  .logo-grid__wrapper .pane-bundle-ally:after, .logo-grid__wrapper .pane-bundle-ally:after {
    clear: both; }

.logo-item {
  width: auto;
  display: inline-block;
  vertical-align: top;
  margin: -3px;
  padding: 1.5rem; }

.main-menu {
  float: right; }
  .main-menu > .menu {
    font-family: "Montserrat", sans-serif;
    list-style: none;
    text-transform: uppercase; }

.main-menu__action {
  color: #fff;
  border-bottom: 0;
  display: block;
  padding: 4px 16px;
  text-decoration: none; }
  .main-menu__action.active {
    color: inherit; }

.main-menu__item {
  display: inline;
  float: left;
  font-size: 1rem; }

.main-menu__items--inverted {
  color: #fff; }

.menu-front {
  width: 100%;
  padding-bottom: 1rem;
  position: absolute;
  z-index: 5; }

.leads-grid--item {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 1rem;
  vertical-align: top;
  margin: 0 20px;
  float: left;
  max-width: 300px;
  transform: translateX(-50%);
  position: relative;
  left: 50%; }
  .leads-grid--item:before, .leads-grid--item:after {
    content: " ";
    display: table; }
  .leads-grid--item:after, .leads-grid--item:after {
    clear: both; }
  @media only screen and (min-width: 750px) {
    .leads-grid--item {
      width: 50%;
      transform: translateX(0%);
      left: 0; } }
  @media only screen and (min-width: 900px) {
    .leads-grid--item {
      margin: 0 50px; } }
  @media only screen and (min-width: 1000px) {
    .leads-grid--item {
      margin: 0 75px; } }
  @media only screen and (min-width: 1200px) {
    .leads-grid--item {
      margin: 0 35px;
      width: 33%; } }

.leads-grid__title {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: bold; }

.leads-grid__photo {
  margin-bottom: 1.5rem; }
  .leads-grid__photo img {
    width: 100%;
    height: auto; }

.leads-grid__desc {
  margin-bottom: .5rem; }

.team-grid__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.team-grid__wrapper .pane-bundle-team {
  width: 100%;
  padding: 1rem;
  vertical-align: top;
  border: 1px solid #fff;
  background-color: #f5f5f6;
  display: inline-block; }
  .team-grid__wrapper .pane-bundle-team:before, .team-grid__wrapper .pane-bundle-team:after {
    content: " ";
    display: table; }
  .team-grid__wrapper .pane-bundle-team:after, .team-grid__wrapper .pane-bundle-team:after {
    clear: both; }
  @media only screen and (min-width: 600px) {
    .team-grid__wrapper .pane-bundle-team {
      width: 50%; } }

.team-grid__photo-wrap img {
  height: auto;
  max-width: 100%;
  padding-top: 20px; }
  @media only screen and (min-width: 950px) {
    .team-grid__photo-wrap img {
      left: 0;
      padding-top: 0; } }

.team-grid--item .panel-col-last {
  width: 100%; }
  @media only screen and (min-width: 950px) {
    .team-grid--item .panel-col-last {
      width: calc(100% - 220px); } }
.team-grid--item .panel-col-first {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  background-color: #fff; }
  @media only screen and (min-width: 950px) {
    .team-grid--item .panel-col-first {
      width: 200px;
      margin-right: 1.125rem; } }

.team-grid__details {
  font-size: .75rem;
  margin-bottom: 0;
  padding-bottom: 20px; }
  .team-grid__details a {
    font-weight: 300; }

.team-grid__title {
  font-weight: bold;
  font-size: 1.25rem;
  padding-top: 20px;
  margin-bottom: 0;
  text-transform: uppercase; }

.team-grid__desc {
  width: 100%;
  margin-right: 1.125rem; }
  .team-grid__desc p {
    font-size: 1rem; }

.team-grid__subt {
  font-weight: bold;
  background-color: #fff;
  color: #777;
  padding-bottom: .75rem; }

.service-grid__wrapper {
  display: flex;
  flex-wrap: wrap; }
  .service-grid__wrapper h2 {
    width: 100%;
    display: block; }

.service-grid {
  list-style: none;
  margin: 0;
  padding: 0; }

.service-grid__action {
  border-bottom: 0;
  color: #fff;
  display: block;
  padding: 2.25rem 3.375rem;
  text-decoration: none;
  font-weight: 300; }

.service-grid__heading {
  color: inherit;
  font-size: 1.75rem;
  margin-top: 1rem;
  text-align: center; }

.service-grid__item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative; }
  @media only screen and (min-width: 700px) {
    .service-grid__item {
      width: 50%; } }

.service-grid__content {
  font-size: 1rem; }

.service-grid--workshop {
  background-image: url(../img/workshops-grid.jpg); }

.service-grid--coaching {
  background-image: url(../img/coaching-grid.jpg); }

.service-grid--consulting {
  background-image: url(../img/consulting-grid.jpg); }

.service-grid--retreats {
  background-image: url(../img/retreats-grid.jpg); }

.icon-item:before {
  background-size: cover;
  content: '';
  width: 60px;
  height: 60px;
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto; }

.icon-item--workshop:before {
  background-image: url(../img/icon-workshop.png); }

.icon-item--coaching:before {
  background-image: url(../img/icon-coaching.png); }

.icon-item--consulting:before {
  background-image: url(../img/icon-consulting.png); }

.icon-item--retreat:before {
  background-image: url(../img/icon-retreats.png); }

.events-wrapper {
  padding: 0; }
  .events-wrapper li {
    list-style: none; }

.events-grid {
  position: relative;
  border: 0.5rem solid #f3f2f2;
  padding: 1rem;
  text-align: center;
  width: 100%; }
  @media only screen and (min-width: 500px) {
    .events-grid {
      width: 75%; } }
  @media only screen and (min-width: 850px) {
    .events-grid {
      display: inline;
      float: left;
      min-height: 300px;
      width: 33.33%; } }
  .events-grid h4,
  .events-grid h5 {
    color: #fff;
    font-size: 1.5rem;
    font-family: "Nunito", sans-serif, sans-serif;
    margin: 0; }
  .events-grid h5 {
    font-weight: initial;
    margin: 10px; }
  .events-grid p {
    color: #fff;
    font-size: 1rem;
    font-weight: initial; }

.event-item_Certification {
  background: #bf639f; }
  .event-item_Certification ::before {
    background-image: url("../img/icon-certified.png"); }

.event-item_Workshop {
  background: #21a295; }
  .event-item_Workshop ::before {
    background-image: url("../img/icon-workshop.png"); }

.event-item_Retreats {
  background: #5f9fc0; }
  .event-item_Retreats ::before {
    background-image: url("../img/icon-retreats.png"); }

.event-btn {
  position: relative;
  margin-top: 40px;
  bottom: 20px;
  transform: translateX(-50%);
  left: 50%; }
  @media only screen and (min-width: 850px) {
    .event-btn {
      position: absolute; } }

.event-info {
  margin-bottom: 6rem;
  overflow: hidden; }

.event--space {
  margin: 0; }

.event-info-list {
  margin-bottom: 1rem; }

.event-content {
  width: 100%; }
  @media only screen and (min-width: 600px) {
    .event-content {
      width: 75%; } }
  @media only screen and (min-width: 850px) {
    .event-content {
      float: left;
      width: 48%; } }
  .event-content h3 {
    margin-bottom: 2.25rem; }
  .event-content .field-label {
    text-transform: uppercase; }
  .event-content img {
    margin-top: 1rem;
    width: 100%;
    height: auto; }

.event-sidebar {
  text-align: center;
  width: 100%;
  margin-top: 3.375rem; }
  @media only screen and (min-width: 600px) {
    .event-sidebar {
      width: 75%; } }
  @media only screen and (min-width: 850px) {
    .event-sidebar {
      float: right;
      width: 35%;
      margin-top: 0; } }
  .event-sidebar p {
    font-size: 1rem; }

.img--workshops {
  border-left: 8px solid #21a295;
  width: 100%; }

.buy-content {
  margin-top: 1rem; }
  @media only screen and (min-width: 700px) {
    .buy-content {
      clear: both;
      margin-left: 309px;
      margin-top: 0; } }
  @media only screen and (min-width: 1050px) {
    .buy-content {
      clear: none;
      margin: 0;
      float: right;
      width: 17%; } }

.img-paypal:after {
  content: "";
  width: 155px;
  height: 39px;
  display: inline-block;
  background-image: url("../img/paypal.png");
  background-size: contain;
  margin-top: 1rem; }

.img-paypal--width {
  width: 40%; }

.accounts {
  margin: 4.5rem 0;
  text-align: initial; }
  .accounts h4:before {
    content: "";
    background: no-repeat url(../img/logo.png);
    background-size: contain;
    display: block;
    width: 224px;
    height: 56px;
    margin-bottom: 2.25rem; }

.testimonials-grid__wrapper {
  display: flex;
  flex-wrap: wrap; }
  .testimonials-grid__wrapper h2 {
    width: 100%;
    display: block; }
  .testimonials-grid__wrapper .pane-bundle-testimony {
    border: .0625rem solid #E2EBF1;
    background: #fff;
    width: 100%; }
    @media only screen and (min-width: 750px) {
      .testimonials-grid__wrapper .pane-bundle-testimony {
        width: 50%; } }

.testimonio {
  background: #fff;
  display: inline-block;
  padding: 1rem;
  vertical-align: top; }

.testimonio__avatar {
  margin-right: 20px;
  width: 100%;
  text-align: center; }
  @media only screen and (min-width: 400px) {
    .testimonio__avatar {
      width: auto;
      float: left; } }
  .testimonio__avatar img {
    max-width: 125px;
    height: auto;
    border-radius: 50%; }

.testimonio__description {
  font-size: 1.125rem;
  font-style: italic;
  margin: 1.5rem; }

.testimonio__cite {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 20px 0 0 0;
  padding-bottom: 6rem; }
  @media only screen and (min-width: 750px) {
    .testimonio__cite {
      width: 50%;
      float: left; } }
  @media only screen and (min-width: 1200px) {
    .testimonio__cite {
      width: 65%; } }

.hello-friend {
  left: 50%;
  padding: 1.125rem 0;
  position: relative;
  z-index: 2;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
  .hello-friend .panel-col-first {
    width: auto;
    transform: translateX(-50%);
    position: relative;
    left: 50%; }
    @media only screen and (min-width: 700px) {
      .hello-friend .panel-col-first {
        transform: none;
        left: 0; } }
  .hello-friend .panel-col-last {
    width: 100%; }
    @media only screen and (min-width: 700px) {
      .hello-friend .panel-col-last {
        width: 70%; } }
    @media only screen and (min-width: 850px) {
      .hello-friend .panel-col-last {
        width: 80%; } }

.hello-friend__img {
  float: left;
  max-width: 150px;
  margin-left: 1rem; }
  .hello-friend__img img {
    width: 100%;
    height: auto; }

.hello-friend_msg {
  color: #fff;
  padding: 0 1rem; }

.hello-friend__title {
  text-align: center;
  color: #fff;
  padding: 0 1rem;
  margin-bottom: 0; }
  @media only screen and (min-width: 700px) {
    .hello-friend__title {
      text-align: left; } }

.mailchimp-form {
  margin-left: 1rem;
  text-align: center; }
  @media only screen and (min-width: 550px) {
    .mailchimp-form {
      float: left; } }
  @media only screen and (min-width: 750px) {
    .mailchimp-form {
      width: 384px; } }
  @media only screen and (min-width: 950px) {
    .mailchimp-form {
      text-align: left;
      margin-left: 190px; } }

@media only screen and (min-width: 400px) {
  .contact-media {
    margin-left: 2rem; } }
@media only screen and (min-width: 550px) {
  .contact-media {
    float: left;
    margin-left: 0; } }
.contact-media li {
  display: inline-block; }

.contact-icon {
  color: transparent;
  width: 60px;
  height: 60px;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  display: inline-block; }
  .contact-icon.active {
    color: transparent; }

.contact-facebook {
  background-image: url(../img/social-media-facebook.png); }

.contact-instagram {
  background-image: url(../img/social-media-instragram.png); }

.contact-youtube {
  background-image: url(../img/social-media-youtube.png); }

.contact-blog {
  background-image: url(../img/social-media-blog.png); }

.service-info {
  margin-bottom: 6rem;
  overflow: hidden; }
  .service-info img {
    width: 100%;
    height: auto; }
  .service-info .panel-col-first {
    width: 100%; }
    @media only screen and (min-width: 700px) {
      .service-info .panel-col-first {
        float: left;
        width: 50%; } }
  .service-info .panel-col-last {
    width: 100%;
    margin-top: 2em; }
    @media only screen and (min-width: 700px) {
      .service-info .panel-col-last {
        margin-top: 0;
        float: left;
        width: 50%; } }

.service-title {
  font: 1.5rem "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem; }

.service-video {
  position: relative;
  padding-top: 56%; }
  .service-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.btn-request-content {
  margin-top: 1.5em;
  text-align: center; }
  @media only screen and (min-width: 700px) {
    .btn-request-content {
      margin-top: 3em; } }
  .btn-request-content p {
    margin-bottom: 0; }

.service-events {
  overflow: hidden; }
  .service-events strong {
    display: block; }
  .service-events > p {
    margin-bottom: 0; }

.service-events-content {
  width: 100%; }
  @media only screen and (min-width: 700px) {
    .service-events-content {
      float: left;
      width: 50%; } }

.title-event {
  font-weight: bold;
  font-size: 1.5rem; }

.service-events:before {
  content: "";
  margin-right: 3rem;
  width: 261px;
  height: 178px;
  display: inline-block;
  background-size: contain; }
  @media only screen and (min-width: 700px) {
    .service-events:before {
      float: left; } }

.service-events-Workshop:before {
  background-image: url("../img/servicios-img-default-workshops.jpg"); }

.service-events-Retreats:before {
  background-image: url("../img/servicios-img-default-retreats.jpg"); }

.sticky-menu {
  background-color: transparent;
  margin-bottom: 1.125rem; }

.sticky-menu__wrap {
  background-color: #F3F2F2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  width: 614px; }

.sticky-menu__item {
  margin: 0; }

.sticky-menu-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  right: 0; }

.sticky-menu-item {
  border: none;
  display: inline-block;
  padding: 1rem !important;
  text-align: center;
  width: 150px;
  margin: 0 !important; }

.sticky-icon {
  border: none;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem; }

.sticky-icon:before {
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: block;
  content: ""; }

.icon-workshop-black:before {
  background-image: url("../img/icon-workshop-black.png"); }

.icon-consultancies-black:before {
  background-image: url("../img/icon-consultancies-black.png"); }

.icon-coaching-black:before {
  background-image: url("../img/icon-coaching-black.png"); }

.icon-retreats-black:before {
  background-image: url("../img/icon-retreats-black.png"); }

.sticky-menu-item:hover a {
  color: #fff; }

.sticky-menu-workshop:hover {
  background-color: #21a295; }
  .sticky-menu-workshop:hover .icon-workshop-black:before {
    background-image: url("../img/icon-workshop.png"); }

.sticky-menu-consultancies:hover {
  background-color: #a4377f; }
  .sticky-menu-consultancies:hover .icon-consultancies-black:before {
    background-image: url("../img/icon-consulting.png"); }

.sticky-menu-coaching:hover {
  background-color: #f5978d; }
  .sticky-menu-coaching:hover .icon-coaching-black:before {
    background-image: url("../img/icon-coaching.png"); }

.sticky-menu-retreats:hover {
  background-color: #5f9fc0; }
  .sticky-menu-retreats:hover .icon-retreats-black:before {
    background-image: url("../img/icon-retreats.png"); }

.latest-post-wrap p {
  font-weight: initial;
  margin: 0; }

.latest-post, .latest-post-content > .view-content {
  background-color: #f3f2f2;
  float: left;
  margin: 5px;
  padding: 15px;
  width: 100%; }
  @media only screen and (min-width: 900px) {
    .latest-post, .latest-post-content > .view-content {
      width: 48%;
      min-height: 805px; } }
  @media only screen and (min-width: 1100px) {
    .latest-post, .latest-post-content > .view-content {
      min-height: 895px; } }
  .latest-post a, .latest-post-content > .view-content a {
    border: none; }
  .latest-post img, .latest-post-content > .view-content img {
    width: 100%;
    height: auto;
    padding: 10px; }

.latest-trim-post {
  width: 100%; }
  @media only screen and (min-width: 600px) {
    .latest-trim-post {
      width: 50%;
      float: left; } }
  @media only screen and (min-width: 900px) {
    .latest-trim-post {
      width: 100%;
      float: none; } }

.certification__subtitle {
  font-size: 2rem;
  text-transform: uppercase;
  padding-bottom: 2.5rem; }

.certification-v2__subtitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 2.25rem; }

.certification-v2__subtitle--space-out {
  margin: 4.5rem 0 5.625rem 0;
  padding-bottom: 2.25rem; }

.certification-wrap {
  width: 50%;
  margin: 0 auto;
  text-align: center; }
  .certification-wrap a {
    text-align: center; }
  .certification-wrap h2 {
    margin: 0; }

.certification-descrip {
  margin-top: 50px; }
  .certification-descrip p {
    text-align: left; }

.certification-important {
  font-weight: 700;
  font-size: 1.25rem; }

.certification-details p {
  margin: 0; }

.certification-info {
  text-align: center;
  margin: 0;
  text-align: center;
  font-weight: 700; }

.certification-required {
  list-style: none;
  text-align: left;
  margin-bottom: 50px;
  padding: 0; }

.certification-subscription {
  margin-top: 50px; }

.certification-wrap-v2 {
  width: 100%;
  padding: 2rem;
  float: left;
  border-bottom: 1px solid #313233;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 900px) {
    .certification-wrap-v2 {
      width: 33%;
      border-bottom: none;
      border-right: 1px solid #313233; } }

.certification-btn a {
  color: #fff;
  border: none; }

.certified-last div {
  border: none; }

.next-events {
  margin-bottom: 9rem;
  overflow: hidden; }
  .next-events > img {
    float: left;
    margin-right: 3rem;
    width: 25%; }

.opacity {
  background: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 11; }

.modal {
  display: none;
  height: 100%;
  left: 50%;
  position: fixed;
  overflow: auto;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 12; }

.site-header {
  padding-bottom: 1rem;
  position: relative;
  width: 100%;
  z-index: 5; }

.site-nav {
  padding: .25em 1rem; }

.l-content {
  margin: 0 auto;
  width: 100%; }
  @media only screen and (min-width: 500px) {
    .l-content {
      width: 85%; } }
  @media only screen and (min-width: 800px) {
    .l-content {
      width: 65%; } }

.l-group:before, .l-group:after {
  content: " ";
  display: table; }
.l-group:after, .l-group:after {
  clear: both; }

.group {
  margin: 0 auto;
  max-width: 1200px; }
  .group:before, .group:after {
    content: " ";
    display: table; }
  .group:after, .group:after {
    clear: both; }

.bg-hero {
  background-image: url("../img/hero-home.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
  color: #fff;
  height: 40rem;
  overflow: hidden;
  position: relative;
  z-index: 2; }

.bg-pattern-turquoise {
  background: url(../img/patron-4.jpg) fixed;
  color: #fff; }

.bg-pattern-gray {
  background: url(../img/default2.jpg) fixed;
  background-color: #F3F2F2;
  color: #fff; }

.bg-gray {
  background-color: #F3F2F2; }

.bg-red {
  background-color: #F25F60; }

.bg-blue {
  background-color: #5F9FBF; }

.bg-isotipo {
  background-image: url(../img/conversable-isotipo.png);
  background-repeat: no-repeat;
  background-position: 103% -39%;
  background-size: 30%;
  background-attachment: fixed; }

.video-wrapper {
  width: 100%;
  height: 720px;
  position: relative;
  padding-top: 56%; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 101% !important; }
  .video-wrapper:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-size: cover; }
  .bg-video video {
    height: auto;
    width: 100%; }

.section-wrap {
  padding: 3.375rem 2.25rem; }

.section-wrap--intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; }

.section-intro {
  margin-bottom: 3rem;
  text-align: center; }

.section-wrap--tight {
  padding-bottom: 2.25rem;
  padding-top: 2.25rem; }

.wrapper {
  background-color: #fff;
  position: relative; }

.site-footer {
  background: url(../img/bg-footer.jpg) repeat-x; }
  .site-footer:before, .site-footer:after {
    content: " ";
    display: table; }
  .site-footer:after, .site-footer:after {
    clear: both; }

.contact-footer {
  padding: 2.25rem 0;
  background-color: #000; }
  @media only screen and (min-width: 700px) {
    .contact-footer {
      margin-top: -55px; } }

/*# sourceMappingURL=style.css.map */
