.logo {
  border-bottom: 0;
  float: left;

  img {
    display: block;
    padding: .5rem;
    width: 180px;

    @include query(550px) {
      width: 220px;
    }
    @include query(1040px){
      width: 250px;
    }
  }
}