.contact-form__panel-node {
    width: 100%;
    padding: $space-small;

    @include query(500px) {
        width: 80%;
        max-width: 600px;
    }

    @include query(874px) {
        width: 50%;
        float: left;
    }

}

.contact-form__input {
  width: 100%
}

input.form-checkbox, input.form-radio {
    vertical-align: none;
}
