.contact-form__panel-node {
  width: 100%;
  padding: $space-small;

  @include query(500px) {
      width: 80%;
      max-width: 600px;
  }

  @include query(874px) {
      width: 50%;
      float: left;
  }

}

.contact-form__input {
  width: 100%
}

input.form-checkbox, input.form-radio {
  vertical-align: none;
}

.links {
  width: 80%;
  margin: 0 auto;
  padding: 0 $space-large $space-large $space-large;
}

.webform-confirmation {
  width: 80%;
  margin: 0 auto;
  padding: $space-large $space-large 0 $space-large;
}
