.events-wrapper {
  padding: 0;

  li {
    list-style: none;
  }
}

.events-grid {
  position: relative;
  border: .5rem solid $gray;
  padding: $space-base;
  text-align: center;
  width: 100%;

  @include query(500px) {
    width: 75%;
  }

  @include query(850px) {
    display: inline;
    float: left;
    min-height: 300px;
    width: 33.33%;
  }

  h4,
  h5 {
    color: #fff;
    font-size: 1.5rem;
    font-family: $font-family-base, sans-serif;
    margin: 1rem;
  }

  h5 {
    font-weight: initial;
    margin: 10px;
  }

  p {
    color: #fff;
    font-size: 1rem;
    font-weight: initial;
  }
}

.event-item_Certification {
  background: $violet-light;

  ::before {
    background-image: url("../img/icon-certified.png")
  }
}

.event-item_Workshop {
  background: #21a295;

  ::before {
    background-image: url("../img/icon-workshop.png")
  }
}

.event-item_Retreats {
  background: $blue;

  ::before {
    background-image: url("../img/icon-retreats.png")
  }
}

.event-btn {
  position: relative;
  margin-top: 40px;
  bottom: 20px;
  transform: translateX(-50%);
  left: 50%;

  @include query(850px) {
    position: absolute;
  }

  a {
    @extend .btn;
    @extend .btn--small;
    @extend .btn--invert;
  }
}