.event-info {
    margin-bottom: 6rem;
    overflow: hidden;
}

.event--space {
    margin: 0;
}

.event-content {
    float: left;
    width: 48%;

    h3 {
        margin-bottom: $space-medium;
    }
}

.event-sidebar {
    float: right;
    text-align: center;
    width: 35%;

    p {
        font-size: 1rem;
    }
}

.img--workshops {
    border-left: 8px solid $turquoise;
    width: 100%;
}


.buy-content {
    margin-top: $space-base;

    @include query(700px) {
        clear: both;
        margin-left: 309px;
        margin-top: 0;
    }

    @include query(1050px) {
        clear: none;
        margin: 0;
        float: left;
        width: 17%;
    }
}

.img-paypal:after {
    content: "";
    width: 155px;
    height: 39px;
    display: inline-block;
    background-image: url("../img/paypal.png"); 
    background-size: contain;
    margin-top: 1rem;
}

.img-paypal--width {
    width: 40%;
}

.accounts {
    margin: $space-x-out-large 0;
    text-align: initial;

    img {
        width: 70%;
    }
}