.leads-group__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include query(1000px) {
    justify-content: space-between;
  }

  h4 {
    display: block;
    width: 100%;
  }

  &>div {
    width: 100%;
  }

  .pane-bundle-lead {
    width: 100%;   
    max-width: 300px;

    @include query(750px) {
      width: 50%;
    }

    @include query(1200px) {
      width: 33%;
    }
  }
}

.leads-grid--item {
  @include micro-clearfix;
  box-sizing: border-box;
  text-align: center;
  padding: $space-base;
  vertical-align: top;
  margin: 0 20px;
}

.leads-grid__title {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.leads-grid__photo {
  margin-bottom: 1.5rem;

  img {
    width: 100%;
    height: auto;
  }
}

.leads-grid__desc {
  margin-bottom: .5rem;
}