.leads-group__wrapper {
  h4 {
    display: block;
    width: 100%;
  }

  .pane-bundle-lead {
    display: inline-block;
    vertical-align: top;

    @include query(750px) {
      width: 49%;
    }

    @include query(990px) {
      max-width: 315px;
      width: 33%;
    }

    @include query(1200px) {
      max-width: 296px;
    }
  }
}

.leads-grid--item {
  @include micro-clearfix;
  box-sizing: border-box;
  text-align: center;
  padding: $space-base;
  vertical-align: top;
  margin: 0 20px;
}

.leads-grid__title {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.leads-grid__photo {
  margin-bottom: 1.5rem;

  img {
    width: 100%;
    height: auto;
  }
}

.leads-grid__desc {
  margin-bottom: .5rem;
}