.logo-grid__wrapper .pane-bundle-ally {
  @include micro-clearfix;
  display: inline-block;
}

.logo-item {
	width: auto;
    display: inline-block;
    vertical-align: top;
    margin: -3px;
    padding: 1.5rem;
}