.main-menu {
  float: right;

  &> .menu {
    font-family: $font-family-contrast;
    list-style: none;
    text-transform: uppercase;
  }
}

.main-menu__action {
  color: #fff;
  border-bottom: 0;
  display: block;
  padding: 4px 16px;
  text-decoration: none;

  &.active {
    color: inherit;
  }
}

.main-menu__item {
  display: inline;
  float: left;
  font-size: 1rem;
}

.main-menu__items--inverted {
  color: #fff;
}

.menu-front {
  width: 100%;
  padding-bottom: $space-base;
  position: absolute;
  z-index: 5;
}