.main-menu {
  background-color: #21a295;
  font-family: $font-family-contrast;
  text-transform: uppercase;
  height: 100vh;

  @include query(1040px) {
    background-color: transparent;
    float: right;
    height: 0;
  }

  & > .menu {
    border-bottom: 1px solid #fff;
    left: 50%;
    position: absolute;
    top: 15.75rem;
    transform: translate(-50%, -50%);
    width: 80%;

    li {
        list-style-image: none;
        list-style-type: none;
        padding-bottom: 1rem;
    }

    @include query(400px) {
      width: 65%;
    }
    
    @include query(510px) {
      width: auto;
    }

    @include query(1040px) {
      border: none;
      list-style: none;
      position: relative;
      top: 0;
    }
  }
}

.main-menu__action {
  color: #fff;
  border-bottom: none;
  font-size: 1.4rem;
  
  &.active {
    color: inherit;
  }
  
  @include query(1040px) {
    border-bottom: 0;
    display: block;
    padding: 4px 16px;
    font-size: 1rem; 
  }
}

.main-menu__item {
  list-style: none;

  @include query(1040px) {
    display: inline;
    float: left;
    font-size: 1rem;    
  }
}

.main-menu__items--inverted {
  color: #fff;
}

.menu-front {
  @include query(1040px) {
    width: 100%;
    padding-bottom: $space-base;
    position: absolute;
    z-index: 5;    
  }
}

.panels-ipe-editing .menu-front {
  z-index: 0;
}

.open-menu, 
.close-menu {
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
  right: 20px;
  width: 40px;
  height: 40px;

  @include query(550px){
    top: 60px;
  }
}

.open-menu {
  background-image: url(../img/open-menu.png);
  background-size: 100%;
}

.close-menu {
  background-image: url(../img/close-menu.png);
  background-size: 100%;
}