.next-events {
    margin-bottom: $space-x-out-large;
    overflow: hidden;

    @include query(700px) {
        padding: $space-xxx-out-large;
    }

    & > img {
        float: left;
        margin-right: 3rem;
        width: 25%;
    }
}