.service-info {
	margin-bottom: 6rem;
	overflow: hidden;

	img {
		width: 100%;
		height: auto;
	}

	.panel-col-first{
		width: 100%;

		@include query(700px) {
			float: left;
			width: 50%;
		}
	}

	.panel-col-last{
		width: 100%;
		margin-top: 2em;

		@include query(700px) {
			margin-top: 0;
			float: left;
			width: 50%;
		}
	}
}

.service-title {
	font: 1.5rem $font-family-contrast;
	font-weight: bold;
	margin-bottom: $space-base;
	margin-left: 50px;
}

.service-title:before {
	width: 47px;
	height: 32px;
	display: inline-block;
	position: absolute;
	border-radius: 2px;
	margin-left: -58px;
}

.service-title-workshops:before {
	content: "";
	background: center no-repeat url(../img/workshopsblanco.png) #65c8c1;
	background-size: contain;
}

.service-title-coaching:before {
	content: "";
	background: center no-repeat url(../img/coachingblanco.png) $salmon;
	background-size: contain;
}

.service-title-consulting:before {
	content: "";
	background: center no-repeat url(../img/consultingblanco.png) $violet;
	background-size: contain;
}

.service-title-retreats:before {
	content: "";
	background: center no-repeat url(../img/retreatsblanco.png) #b3d4fc;
	background-size: contain;
}

.service-video {
	position: relative;
	padding-top: 56%;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.btn-request-content {
	margin-top: 1.5em;
	text-align: center;

	@include query(700px) {
		margin-top: 3em;
	}

	p {
		margin-bottom: 0;
	}
}

.service-events {
	overflow: hidden;

	strong {
		display: block;
	}

	&>p {
		margin-bottom: 0;
	}
}

.service-events-content {
	width: 100%;

	@include query(700px) {
	    float: left;
	    width: 50%;
	}
}

.title-event {
	font-weight: bold;
	font-size: 1.5rem;
}

.service-events:before{
	content: "";
	margin-right: 3rem;
	width: 261px;
	height: 178px;
	display: inline-block;
	background-size: contain;

	@include query(700px) {
		float: left;
	}
}

.service-events-Workshop:before {
	background-image: url("../img/servicios-img-default-workshops.jpg");
}

.service-events-Retreats:before {
	background-image: url("../img/servicios-img-default-retreats.jpg");
}
